<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="DetailSuite" verbose="1" parallel="false" preserve-order="true" data-provider-thread-count="10">
    <test name="template-ActiveInBatch" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.template.ActiveInBatch"/>
        </classes>
    </test>
    <test name="BusinessTest" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.business.TestAlignedTS"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestAlignedTSAdd"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestAlignedTSMinus"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestBlendScenario"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestBlendScenarioAddTS"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestNonAlignedTS"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestNonAlignedTSAdd"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestNonAlignedTSMinus"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestTemplateAligned"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestTemplateAlignedAddTS"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestTemplateNonAligned"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestTemplateNonAlignedAddTS"/>
            <class name="org.apache.iotdb.api.test.tree.business.TestCleanUp"/>
        </classes>
    </test>

    <test name="InsertTest" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertError"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertAlignedRecordNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertAlignedRecordsNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertAlignedRecordsOfOneDeviceNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertAlignedTabletNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertAlignedTabletsNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertRecordNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertRecordsNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertRecordsOfOneDeviceNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertTabletNormal"/>
            <class name="org.apache.iotdb.api.test.tree.insert.TestInsertTabletsNormal"/>
        </classes>
    </test>

    <test name="tableModel" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.table.database_manage.TestDataBaseNormal"/>
            <class name="org.apache.iotdb.api.test.table.table_manage.TestTableNormal"/>
            <class name="org.apache.iotdb.api.test.table.data_manage.TestSelectNormal"/>
            <class name="org.apache.iotdb.api.test.table.data_manage.TestInsertNormal"/>
            <class name="org.apache.iotdb.api.test.table.data_manage.TestInsertError"/>
            <class name="org.apache.iotdb.api.test.table.session.TestTableSessionBuilder"/>
            <class name="org.apache.iotdb.api.test.table.session.TestTableSessionBuilderError"/>
            <class name="org.apache.iotdb.api.test.table.session.TestTableSessionPoolBuilder"/>
        </classes>
    </test>

    <test name="TestDataBase" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.detail.TestDataBase"/>
        </classes>
    </test>
    <test name="TestTimeSeries" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.detail.TestTimeSeries"/>
        </classes>
    </test>
    <test name="TestTimeSeriesMulti" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.detail.TestTimeSeriesMulti"/>
        </classes>
    </test>
    <test name="TestOrdinary" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.dynamic.TestOrdinary"/>
        </classes>
    </test>
    <test name="TestDynamicTemplateMin" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.dynamic.TestDynamicTemplateMin"/>
        </classes>
    </test>
    <test name="TestDynamicTemplateMulti" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.dynamic.TestDynamicTemplateMulti"/>
        </classes>
    </test>
    <test name="TestDatabaseParams" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.detail.TestDatabaseParams"/>
        </classes>
    </test>
    <test name="TestTimeSeriesParams" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.detail.TestTimeSeriesParams"/>
        </classes>
    </test>
    <test name="TestInsertParams" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.detail.TestInsertParams"/>
        </classes>
    </test>
    <test name="TestTemplate" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.template.TestTemplate"/>
        </classes>
    </test>
    <test name="TestTemplateParams" preserve-order="true">
        <classes>
            <class name="org.apache.iotdb.api.test.tree.template.TestTemplateParams"/>
        </classes>
    </test>

    <!--用于测试SQL覆盖率的-->
    <!--    <test name="SQL" preserve-order="true">-->
    <!--        <classes>-->
    <!--            <class name="org.apache.iotdb.api.test.sql.TestSQL"/>-->
    <!--        </classes>-->
    <!--    </test>-->




    <!--测试场景特殊，需要手动开启测试-->
    <!--    <test name="TriggerNameTest" preserve-order="true">-->
    <!--        <classes>-->
    <!--            <class name="org.apache.iotdb.api.test.tree.other.TriggerNameTest"></class>-->
    <!--        </classes>-->
    <!--    </test>-->
    <!--    <test name="UDFNameTest" preserve-order="true">-->
    <!--        <classes>-->
    <!--            <class name="org.apache.iotdb.api.test.tree.other.UDFNameTest"></class>-->
    <!--        </classes>-->
    <!--    </test>-->


    <listeners>
        <!--        <listener class-name="org.testng.reporters.JUnitXMLReporter"/>-->
        <listener class-name="org.testng.reporters.XMLReporter"/>
        <listener class-name="org.testng.reporters.DotTestListener"/>
    </listeners>
</suite>
